.TitleProfile{
    display: flex;
    justify-content: center;
}

.textTitle{
    color: white;
    font-family: Verdana;

}

.Profilelist{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}